{{!< default}}


        <div class="container clearfix">
          <main role="main" class="content">
              {{#foreach posts}}  
              <article class="{{post_class}} post">
                <h2><a href="{{url}}" title="{{title}}">{{title}}</a></h2>
                <footer class="post-info">Posted on <span class="post-meta"><time datetime="{{date published_at format="YYYY-MM-DD"}}">{{date published_at format="Do MMMM YYYY"}}</time> {{tags separator=", " prefix="Tagged in "}}</span></footer>
                
                <p>{{excerpt characters="600"}}&hellip;</p>
                
                <a href="{{url}}" title="{{title}}">Read more &raquo;</a>
              </article>
              {{/foreach}}

              {{pagination}}
             
          </main>
          


          <aside class="author">
            
            <img class="profile-image" src="{{asset "img/profile-image.jpg"}}" alt="" />
            <p class="name">by <strong>Karim Kraku</strong></p>
            <p class="address">London, UK</p>
            <p class="link"><a href="http://kraku.co" title="Karim Kraku - Developer">kraku.co</a></p>

            <ul class="social">
              <li><a class="icon-twitter" href="https://twitter.com/yukidawg" title="Follow me on Twitter!"></a></li>
              <li><a class="icon-paper-plane" href="https://telegram.me/yukihun" title="Message me on Telegram!"></a></li>
              <li><a class="icon-envelope" href="mailto:karim@kraku.co" title="Drop me an email!"></a></li>
            </ul>

          </aside>
        </div>